body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}
.content {
    width: 100%;
    margin-bottom: 20px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.skills div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
 p {
    text-align: left;
    margin: 10px;
}
h1{
    text-align: center;
}