<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

</head>
<body>
    <div class="content">
        <h1>Sobre mim</h1>
        <p>Apaixonada por tecnologia e inovação, sou uma estudante de Sistemas para Internet no terceiro semestre, com 21 anos de idade. Tenho experiência prática em desenvolvimento web, especialmente com Laravel, PHP, Git e MySQL. Meu foco é criar soluções eficientes e inovadoras que atendam às necessidades do usuário final, mantendo sempre as melhores práticas de codificação e segurança. Estou sempre buscando novos desafios e oportunidades para crescer profissionalmente e contribuir para projetos que façam a diferença.</p>
    </div>
    <div class="skills">
        <div>HTML</div>
        <div>CSS</div>
        <div>JavaScript</div>
        <div>PHP</div>
        <div>Laravel</div>
        <div>Git</div>
        <div>MySQL</div>
        <div>Angular</div>
        <div>EXCEL</div>
        <div>Notion</div>
        <div>Trello</div>
        <div>Wordpress</div>
    </div>
</body>
</html>
