<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>

</head>
<body>
    <h1>Projetos</h1>

    <div class="card">
        <img src="assets/fox.png" alt="Projeto 1">
        <h2><a href="https://github.com/SaraJus/FOX">Fox</a></h2>
        <p>Site de uma loja de brinquedos com a experiência do usuário.</p>
    </div>

    <div class="card">
        <img src="assets/charlie.png" alt="Projeto 2">
        <h2><a href="https://github.com/brunovicenters/Charlie-PI">Charlie</a></h2>
        <p>Site de uma loja de roupas com a experiência do administrador.</p>
    </div>

    <div class="card">
        <img src="assets/pet.png" alt="Projeto 3">
        <h2><a href="https://github.com/brunovicenters/SpaDoPet">Spa do Pet</a></h2>
        <p>Site apenas com HTML e CSS, sobre uma Ong independente.</p>
    </div>

    <div class="card">
        <img src="assets/employ.png" alt="Projeto 4">
        <h2><a href="https://github.com/SaraJus/Layout-Employ">Employ</a></h2>
        <p>Layout de Precificação</p>
    </div>

    <div class="card">
        <img src="assets/book.png" alt="Projeto 5">
        <h2><a href="https://github.com/SaraJus/CrudLaravel">Crud Laravel</a></h2>
        <p>Crud feito no Laravel, sobre livros</p>
    </div>

    <div class="card">
        <img src="assets/tarefa.png" alt="Projeto 6">
        <h2><a href="https://github.com/SaraJus/CrudAngular">Crud Angular</a></h2>
        <p>Crud feito no Angular sobre tarefas diárias.</p>
    </div>
</body>
</html>
