<header>
  <nav class="navbar">
    <img src="assets/nome.png" alt="Sara Logo" class="img-topo">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">Sobre</a></li>
      <li><a routerLink="/projects">Projetos</a></li>
     
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer >
  <a href="https://wa.me/yournumber" target="_blank">WhatsApp</a>
  <a href="https://www.linkedin.com/in/sarajus/" target="_blank">LinkedIn</a>
  <a href="https://github.com/SaraJus" target="_blank">GitHub</a>
</footer>