body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}

.text-container {
    text-align: center;
    margin-right: 20px;
}
.text-container h1 {
    margin: 0;
}
.text-container h3 {
    margin: 10px 0 0 0;
}
.image-container img {
    width: 450px;
    height: auto;
}