<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   
        <div class="text-container">
            <h1>Olá, meu Nome é Sara Justino</h1>
            <h3>Desenvolvedora Full Stack</h3>
            <p>Estudante de Sistemas para Internet no terceiro semestre, com 21 anos de idade.</p>
            <p>Tenho experiência prática em desenvolvimento web, especialmente com Laravel, PHP e MySQL. </p>
        </div>
        <div class="image-container">
            <img src="assets/logoSara.png" alt="Logo Sara">
        </div>
  
</body>
</html>